*{
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
  margin: 0;
}
html{
    scroll-behavior: smooth;
}
header{
    height: 100vh;
    background-image: url("./../img/Japan_Tokio_Skyline_und_Mt._Fuji.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 3%;
}
body{
    overflow-x: hidden;
}
header h1{
    background-color: lightpink;
    border: solid 10px black;
    border-radius: 20px;
    padding: 25px;
    font-size: 60px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.todo-cont{
    width: 33.33%;
    float: left;
    padding: 3%;
    display: flex;
}
.column-3{
    float: left;
    padding: 15px;
}

#column1{
    width: 15%;
}
#column2{
    width: 50%;
}
#column3{
    width: 35%;
}

h2{
    text-align: center;
    padding-bottom: 1%;
}
article h3{
    text-align: center;
    font-size: 22px;
    margin-top: 50px;
}
article p{
    text-align: center;
    padding: 5px;
}
iframe{
    width: 100%;
}
p{
    font-size: 15px;
}
#noticias img{
    width: 100%;
}




nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: lightpink; 
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
}
  

  
nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black; 
}

nav a:hover {
    background-color: #f5e0e0;
}

#lugares{
    padding-top: 50px;
}
#lugares img{
    width: 100%;
}

@media only screen and (max-width: 700px) {
    #column1{
        width: 100%;
    }
    #column2{
        width: 100%;
    }
    #column3{
        width: 100%;
    }
   }